<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ybsystem.tweethub">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.TweetHubApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:label="アカウント認証"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ybsystem"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.preference.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="設定" />
        <activity
            android:name=".activities.preference.ThemeActivity"
            android:configChanges="orientation|screenSize"
            android:label="テーマ設定" />
        <activity
            android:name=".activities.preference.AppearanceActivity"
            android:configChanges="orientation|screenSize"
            android:label="タイムライン表示" />
        <activity
            android:name=".activities.preference.ClickActionActivity"
            android:configChanges="orientation|screenSize"
            android:label="タップ動作" />
        <activity
            android:name=".activities.preference.SystemActivity"
            android:configChanges="orientation|screenSize"
            android:label="システム動作" />
        <activity
            android:name=".activities.preference.WallpaperActivity"
            android:configChanges="orientation|screenSize"
            android:label="壁紙設定" />
    </application>
</manifest>